{% extends '!more.html' %}

{% block projects_header %}<h3>Projects</h3>{% endblock %}

{% block more_projects %}{% endblock %}

{% block projects_follow_me %}{% endblock %}

{% block more_content %}
{{ follow_me() }}{{ hire_me() }}
<a target="_blank" href="https://openhub.net/accounts/git-pull?ref=sample"><img alt='Open Hub profile for Tony Narlock' border='0' height='35' src='https://openhub.net/accounts/git-pull/widgets/account_detailed?format=gif&amp;ref=sample' width='230'>
</a>

<a class="twitter-timeline" data-width="220" data-height="800" href="https://twitter.com/Journey2DaWest">Tweets by Journey2DaWest</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
